<h1>Express demo</h1>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/get-request?search=value">GET request</a></li>
  <li><a href="/post-request">POST request</a></li>
  <li><a href="/write-file">Write to a file</a></li>
  <li><a href="/run-command/ls">Run command: ls -1a</a></li>
  <li><a href="/run-command/gulp-version">Run command: gulp --version</a></li>
  <li><a href="/run-command/gulp-task">Run command: gulp &lt;task&gt;</a></li>
  <li><a href="/sleep-js">Sleep (JS version)</a></li>
  <li><a href="/run-command/sleep">Sleep (system version)</a></li>
</ul>